.card__image {
  margin-bottom: 12px;
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 353px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 235px;
  }
}
