.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  text-align: left;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0 20px 0 0;
  padding: 0;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  font-size: 1rem;
  line-height: 1;
  text-align: left;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  border: 0px;
  opacity: 0.7;
  background: transparent;
  display: flex;
  gap: 8px;
}

.profile__add-button {
  margin: auto 0 0 auto;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: #fcf5e5;
  min-width: 149px;
  height: 52px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.profile__add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
  }

  .profile__name {
    font-size: 20px;
    text-align: center;
    margin: 0 0 6px;
    padding-bottom: 0;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    text-align: center;
    max-width: 288px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__edit-button {
    margin: 0 auto;
  }

  .profile__add-button {
    width: 100%;
  }
}
